body {
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    min-height: 100vh;
}



    .container2 {
        padding: 10px 40px;
        margin: 10px;
        width: 20%;
        height: 20%;
        color: #fff;
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(62,40,45,1) 100%);  

}
.scoreStyle{
color: chocolate;
}

.CorrectAnswersStyle{
    color: blueviolet;
}

.restart{
    border-bottom: mediumblue;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(142,8,42,1) 45%, rgba(119,41,77,1) 54%, rgba(0,212,255,1) 100%);;
    border-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(142,8,42,1) 45%, rgba(119,41,77,1) 54%, rgba(0,212,255,1) 100%);;;
}

